/*Estilos generales pagina*/
body{
    text-align: center;
    font-size: 20px;
}

/*Estilos generales imagen*/
#imagen{
    margin: 30px auto ;
    width: 30%;
    height: auto;

}
img{
    width: 100%;
    height: auto;
}

/*Estilos generales input*/
input{
    width: 25%;
    height: 30px;
    border-radius: 5px;

}

/*Estilos genetales input tipo submit*/
input[type='submit']{
    background-color: dodgerblue;
}

/*Color de errores*/
#error{
    color: red;
}